appdirs==1.4.3
babelfish==0.5.5
beautifulsoup4==4.6.0
chardet==3.0.2
click==6.7
dogpile.cache==0.6.2
enzyme==0.4.1
fake-useragent==0.1.5
feedparser==5.2.1
futures==3.1.1
guessit==2.1.2
Morfessor==2.0.4
nltk==3.4
numpy==1.16.0
pafy==0.5.3.1
pbr==3.0.0
polyglot==16.7.4
pycld2==0.31
PyICU==2.2
pysrt==1.1.1
python-dateutil==2.6.0
pytz==2017.2
rarfile==3.0
rebulk==0.8.2
requests==2.11.1
scikit-learn==0.20.2
scipy==1.2.1
selenium==3.3.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.12.0
stem==1.4.0
stevedore==1.21.0
subliminal==2.0.5
tld==0.7.9
virtualenv==15.0.3
