aniso8601==6.0.0
Click==7.0
Django==2.2.20
djangorestframework==3.9.2
Flask==1.0.2
Flask-Cors==3.0.7
Flask-RESTful==0.3.7
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
nltk==3.4
numpy==1.16.1
pytz==2018.9
scikit-learn==0.20.2
scipy==1.2.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
Werkzeug==0.15.2
